In [1]:
 # importing the dependencies/libraries
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn import svm
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [ ]:
# unloading the csv file to pandas dataframe
diabetes_dataset = pd.read_csv("/content/diabetes.csv")
diabetes_dataset

In [3]:
# top 5 rows of dataset
diabetes_dataset.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [4]:
# checking the rows and columns of dataset
diabetes_dataset.shape

(768, 9)

In [5]:
# checking the statistical measures
diabetes_dataset.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [6]:
diabetes_dataset.isnull().sum() # check null/missing values

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [7]:
# to check the count of  last column '0' and '1' 
diabetes_dataset['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [8]:
diabetes_dataset.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [9]:
# saperating the data and labels
X = diabetes_dataset.drop(columns = 'Outcome', axis = 1)
Y = diabetes_dataset['Outcome']
X, Y

(     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
 0              6      148             72             35        0  33.6
 1              1       85             66             29        0  26.6
 2              8      183             64              0        0  23.3
 3              1       89             66             23       94  28.1
 4              0      137             40             35      168  43.1
 ..           ...      ...            ...            ...      ...   ...
 763           10      101             76             48      180  32.9
 764            2      122             70             27        0  36.8
 765            5      121             72             23      112  26.2
 766            1      126             60              0        0  30.1
 767            1       93             70             31        0  30.4

      DiabetesPedigreeFunction  Age
 0                       0.627   50
 1                       0.351   31
 2                       0.672   32
 3                       0.167   21
 4                       2.288   33
 ..                        ...  ...
 763                     0.171   63
 764                     0.340   27
 765                     0.245   30
 766                     0.349   47
 767                     0.315   23

 [768 rows x 8 columns], 0      1
 1      0
 2      1
 3      0
 4      1
       ..
 763    0
 764    0
 765    0
 766    1
 767    0
 Name: Outcome, Length: 768, dtype: int64)

In [21]:
# Train Test and Split the data
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify = Y, random_state=2)

In [22]:
X.shape, X_train.shape, X_test.shape

((768, 8), (614, 8), (154, 8))

In [23]:
# Training the Model
classifier = svm.SVC(kernel = "linear")

In [24]:
# training the support vector machine classifier 
classifier.fit(X_train, Y_train)

SVC(kernel='linear')

In [25]:
# model evaluation
# accuracy score - accuracy on training data
X_train_prediction = classifier.predict(X_train)
testing_data_prediction = accuracy_score(X_train_prediction, Y_train)
testing_data_prediction

0.7866449511400652

In [26]:
# accuracy on testing data
X_test_predict = classifier.predict(X_test)
test_data_predict = accuracy_score(X_test_predict, Y_test)
test_data_predict

0.7727272727272727

In [28]:
# Making a predictive model
input_data = (11,143,94,33,146,36.6,0.254,51)
# changing input data into numpy array
input_data_as_numpy_array = np.asarray(input_data)
# now reshaping the numpy array for prediction for one instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)
prediction = classifier.predict(input_data_reshaped)
print(prediction)
if (prediction[0]==0):
  print("the person is not diabetic")
else:
  print("the person is diabetic")

[1]
the person is diabetic

In [29]:
# saving the trained model
import pickle

In [30]:
filename = 'trained_model.sav'
pickle.dump(classifier, open(filename, 'wb'))

In [32]:
#load the saved model
loaded_model = pickle.load(open('trained_model.sav', 'rb'))

In [33]:
input_data = (11,143,94,33,146,36.6,0.254,51)
# changing input data into numpy array
input_data_as_numpy_array = np.asarray(input_data)
# now reshaping the numpy array for prediction for one instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)
prediction = classifier.predict(input_data_reshaped)
print(prediction)
if (prediction[0]==0):
  print("the person is not diabetic")
else:
  print("the person is diabetic")

[1]
the person is diabetic