In [1]:
# importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pickle

In [2]:
# loading csv file
dataset = pd.read_csv("/content/iris.csv", names = ['SepalLength','SepalWidth','PetalLength','PetalWidth','target'])
dataset

     SepalLength  SepalWidth  PetalLength  PetalWidth          target
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

In [3]:
dataset.shape # to get the rows and columns

(150, 5)

In [4]:
dataset.isnull().sum()

SepalLength    0
SepalWidth     0
PetalLength    0
PetalWidth     0
target         0
dtype: int64

In [5]:
X = dataset.iloc[:,:-1].values
Y = dataset.iloc[:,-1].values

In [6]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
Y = le.fit_transform(Y)

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=2)

In [8]:
from sklearn.svm import SVC
sv = SVC(kernel = 'linear').fit(X_train,Y_train)

In [14]:
pickle.dump(sv,open('iris.sav','wb'))